html, body {
    height: 100%;
    margin: 0;
     
}
* {
    margin-top: 2px;
}

.main-header{
    height: 100%;
    background-image:url(imagens/bg-3.jpg);
    background-size:cover;
    
}

li{
    display: inline-block;
    padding: 10px;
    border: 2px groove white;
    font-family: sans-serif;
    font-size: 13px;
    
}

ul{
    text-align: right;
    padding-top: 10px;
    padding-right: 50px;
}
a{
    color: white;
}
